*{
    box-sizing: border-box;
}

.mainhead{
    border: 1px solid rgb(253, 251, 251);  
    display: grid;
    grid-template-columns: auto auto ; 
}


.anotherheader h2 {
    text-align: center;
}
.anotherheader h4{
    color: rgb(156, 159, 162);
    text-align: center;
}
.anotherheader p{
    text-align: center;
}
.corner {
    line-height: 25%;
    font-size: xx-small;
    position: relative;
    top: 20px;
    left: 10px; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
   
}

.main img {
    height: 20vh;
    width: 20vh;
}
.box h2{
    border: 1px solid black;
     
    height: 40px;
    width:40px;
    background-color:rgb(186, 186, 236);
    justify-content:center;
    border-radius:5px;
    font-size: 21px;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
   
}
.box h4{
    text-align: center;
    
}

.paragraph {
    border: 1px solid black;
    height: 40vh;
    width: 30vh;
    border-radius: 5%;
    text-align: center;
    background-color:rgb(200, 200, 250);
}